--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.woot.com/2/events.json?eventType=WootOff&key=47db9c89c1434acc901e078b39c001ce
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Woot: 
      - Monkeys
    body: 
      encoding: UTF-8
      string: |
        [{"Subtitle":"This Cheer Just Got Real","WriteUp":"There's no denying it now. No more feigning outrage about the \"early\" Christmas decorations to cover your rising panic. The holidays are hitting the fan. Presenting two days of relentless deals to fill the holes in your gift list - or, God help you, get it started. And if you need more help surviving the season, just wait until later this week...","PodcastTitle":"Theme for Wooting-Off","PodcastTeaser":"Hear the Woot-Off anthem!","PodcastMp3Url":"http://d1f1o3nyf7spcy.cloudfront.net/wootoff.mp3","PodcastOggUrl":"http://d1f1o3nyf7spcy.cloudfront.net/wootoff.ogg","Type":"WootOff","Id":"c900e52b-e335-48ab-bacc-4eb9088ed566","Title":"Woot.com Woot-off - November 2012","Site":"www.woot.com","StartDate":"2012-11-19T06:00:00Z","EndDate":null,"Offers":[{"Features":"<ul>\r\n\t<li>\r\n\t\tComes packed with two keysets - the standard Shift keyset and one with official Medal of Honor artwork</li>\r\n\t<li>\r\n\t\tRemap every key for a custom experience with the SteelSeries Engine software</li>\r\n\t<li>\r\n\t\tLabeled keys and one-touch macors grouped intuitively for quick access</li>\r\n\t<li>\r\n\t\tAnti-ghosting capability allows for 7 simultaneous keystrokes</li>\r\n\t<li>\r\n\t\t8 programmable hotkeys</li>\r\n\t<li>\r\n\t\tEquipped with two <span class=\"caps\">USB 2</span>.0 ports as well as a standard keyset for everyday use</li>\r\n\t<li>\r\n\t\tErgonomic design with 3 leg levels and non-slip base</li>\r\n\t<li>\r\n\t\tQuick access to volume, mute and other media controls</li>\r\n\t<li>\r\n\t\tCompatible with Windows Vista and Windows 7 (configuration software only available for Windows operating systems)</li>\r\n\t<li>\r\n\t\tCompatible with all other SteelSeries Shift Keysets</li>\r\n</ul>\r\n<p>\r\n\t<strong>Shipping Note:</strong> Eligible for shipping to all 50 states</p>\r\n<p>\r\n\t<strong>Warranty:</strong> 1 Year SteelSeries</p>\r\n","Id":"b335827c-3f92-40fc-a3d0-deb3e2189fd7","Items":[{"Id":"6b79a791-a874-493b-b284-499d1cd70396","Title":"SteelSeries 64115 Shift Gaming Keyboard Medal of Honor Edition (New)","SalePrice":47.99,"ListPrice":null,"SoldOut":false,"Attributes":[{"Key":"Condition","Value":"New"}],"Photos":[{"Url":"http://d3gqasl9vmjfd8.cloudfront.net/841681ed-5c16-408f-90c6-90acaa920a4c.jpg","Width":768,"Height":576,"Caption":null,"Tags":[]},{"Url":"http://d3gqasl9vmjfd8.cloudfront.net/fa1b3a66-b917-4a8c-ad28-2f57664c2e32.jpg","Width":456,"Height":342,"Caption":null,"Tags":[]},{"Url":"http://d3gqasl9vmjfd8.cloudfront.net/445beb77-4f84-4446-8774-fbdb64f0fbd9.jpg","Width":380,"Height":285,"Caption":null,"Tags":[]},{"Url":"http://d3gqasl9vmjfd8.cloudfront.net/d4f15590-3521-452d-aabe-9fabc91d5117.jpg","Width":300,"Height":225,"Caption":null,"Tags":[]},{"Url":"http://d3gqasl9vmjfd8.cloudfront.net/1c5234a0-d993-4c3f-90f7-1c5acf75bc4c.[...]
